html {
  body {
    font-family: $montserrat-regular;
    color: $color-gris !important;

    a {
      color: $color-morado;
      text-decoration: none;
      cursor: pointer;
    }

    strong,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $montserrat-bold;
    }

    select {
      padding: 10px 18px;
      padding: 2px 8px;
      border-radius: 4px;
      border: 1px solid $color-gris;
      width: fit-content;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.56 8.93998C19.2787 8.65907 18.8975 8.5013 18.5 8.5013C18.1025 8.5013 17.7212 8.65907 17.44 8.93998L12 14.38L6.55998 8.93998C6.27563 8.67502 5.89954 8.53077 5.51093 8.53763C5.12233 8.54448 4.75156 8.70191 4.47673 8.97673C4.20191 9.25156 4.04448 9.62233 4.03763 10.0109C4.03077 10.3995 4.17502 10.7756 4.43998 11.06L10.94 17.56C11.2212 17.8409 11.6025 17.9987 12 17.9987C12.3975 17.9987 12.7787 17.8409 13.06 17.56L19.56 11.06C19.8409 10.7787 19.9987 10.3975 19.9987 9.99998C19.9987 9.60247 19.8409 9.22123 19.56 8.93998Z" fill="%2357137E"/></svg>');
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) center;
      background-size: 15px;
      padding-right: 40px;
      height: 40px;

      &:focus-visible {
        outline: none;
      }

      &:focus {
        border: 1.5px solid $color-morado;
        box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
      }
    }
    .inp-group {
      border: 1px solid $color-morado;
      display: flex;
      padding: 0 0 0 8px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      background: $color-blanco;

      img {
        cursor: block;
      }
      input {
        padding: 7px 14px;
        border: none;
        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
        }
      }
    }

    .btn-pr {
      display: flex;
      align-items: center;
      width: fit-content;
      outline: none;
      text-decoration: none;
      border: none;
      padding: 8px 18px;
      background: $color-morado;
      color: $color-blanco;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      &:hover {
        background: $color-morado-hover;
        color: $color-blanco;
      }

      &:active {
        background: $color-blanco;
        border: 1px solid $color-morado;
        color: $color-morado !important;
      }
    }

    .btn-out {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: fit-content;
      outline: none;
      text-decoration: none;
      border: none;
      padding: 6px 18px;
      background: $color-blanco;
      color: $color-morado;
      border: 1px solid $color-morado;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      &:hover {
        background: $color-morado-opaco;
      }

      &:active {
        background: $color-morado;
        color: $color-blanco;
      }
    }
    .btn-scc {
      display: flex;
      align-items: center;
      width: fit-content;
      outline: none;
      text-decoration: none;
      border: none;
      padding: 8px 18px;
      background: $color-blanco;
      color: $color-succes;
      border: 1px solid $color-succes;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      &:hover {
        background: $color-succes-opaco;
      }

      &:active {
        background: $color-succes;
        color: $color-blanco;
      }
    }
    .btn-dl {
      display: flex;
      align-items: center;
      width: fit-content;
      outline: none;
      text-decoration: none;
      border: none;
      padding: 8px 18px;
      background: $color-rojo;
      color: $color-blanco;
      border: 1px solid $color-rojo;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      &:hover {
        background: $color-rojo-oscuro;
      }
    }

    &:active {
      background: $color-blanco;
      color: $color-rojo;
    }

    label {
      font-family: $montserrat-bold;
      font-size: 14px;
    }

    .modal-conatiner {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      @include media(mobile) {
        padding: 25px;
      }

      .modal-content {
        background: white;
        border-radius: 5px;
        width: fit-content;
        text-align: center;
        width: 500px;
        border: 1px solid rgb(179, 179, 179);

        @include media(mobile) {
          width: 100%;
        }

        .title {
          text-align: left;
          border-bottom: 1px solid rgb(179, 179, 179);
          padding: 20px;
          display: flex;
          gap: 20px;
          align-items: center;

          img {
            width: 30px;
            cursor: pointer;
          }
        }
        .body {
          text-align: left;
          border-bottom: 1px solid rgb(179, 179, 179);
          padding: 20px;
          padding-bottom: 40px;
        }

        .foot {
          padding: 20px;
          display: flex;
          gap: 20px;
          justify-content: flex-end;
        }
        .spin {
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .btn {
      display: flex;
      align-items: center;
      width: fit-content;
      padding: 10px 18px;
      color: $color-blanco;
      background: $color-morado;
      font-family: $montserrat-bold;
      border-radius: 23px;
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      -ms-border-radius: 23px;
      -o-border-radius: 23px;

      &:hover {
        background: $color-morado-hover;
        color: $color-blanco;
      }

      &:active {
        background: $color-blanco;
        border: 1px solid $color-morado;
        color: $color-morado !important;
      }
    }
    .select-in {
      padding: 10px 18px;
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid $color-gris;

      &:focus-visible {
        outline: none;
      }

      &:focus {
        border: 1.5px solid $color-morado;
        box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
      }
    }
    .general-container {
      position: relative;
      flex: 1;
      height: 100vh;
      overflow-y: scroll;
    }
    .section-general {
      display: flex;
      flex-direction: column;

      .body-section {
        background: $color-blanco;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include media(mobile) {
          padding: 40px 20px 35px 20px;
          position: relative;
          justify-content: center;
          bottom: 50px;
          border-radius: 50px 50px 0 0;
          -webkit-border-radius: 50px 50px 0 0;
          -moz-border-radius: 50px 50px 0 0;
          -ms-border-radius: 50px 50px 0 0;
          -o-border-radius: 50px 50px 0 0;
        }

        @include media(tablet) {
          padding: 40px 20px 35px 20px;
          justify-content: center;
          position: relative;
          bottom: 50px;
          border-radius: 50px 50px 0 0;
          -webkit-border-radius: 50px 50px 0 0;
          -moz-border-radius: 50px 50px 0 0;
          -ms-border-radius: 50px 50px 0 0;
          -o-border-radius: 50px 50px 0 0;
        }
      }
    }

    .error-message {
      color: red;
      font-size: 14px;
      font-family: $montserrat-bold;
      width: 100%;
      text-align: center;
    }

    .warning-message {
      color: $warning-color;
      font-size: 14px;
      font-family: $montserrat-bold;
      width: 100%;
      margin: 30px 0;
      text-align: center;
    }
    input,
    textarea {
      flex: 1;
      padding: 4px 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      border: 1px solid $color-morado;

      &:focus-visible {
        outline: none;
      }

      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
      }
    }

    .search-bar {
      display: flex;
      gap: 10px;
      width: 50%;
      height: fit-content;

      @include media(mobile) {
        width: 100%;
      }
      @include media(tablet) {
        width: 65%;
      }

      input {
        flex: 1;
        padding: 4px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        border: 1.5px solid $color-morado;

        &:focus-visible {
          outline: none;
        }

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
        }
      }
      button {
        padding: 8px 12px;
        background-color: #57137e;
        color: white;
        border: none;
        width: fit-content;
        border-radius: 4px;
        cursor: pointer;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        &:hover {
          background-color: #460d64;
        }
      }

      select {
        width: fit-content;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.56 8.93998C19.2787 8.65907 18.8975 8.5013 18.5 8.5013C18.1025 8.5013 17.7212 8.65907 17.44 8.93998L12 14.38L6.55998 8.93998C6.27563 8.67502 5.89954 8.53077 5.51093 8.53763C5.12233 8.54448 4.75156 8.70191 4.47673 8.97673C4.20191 9.25156 4.04448 9.62233 4.03763 10.0109C4.03077 10.3995 4.17502 10.7756 4.43998 11.06L10.94 17.56C11.2212 17.8409 11.6025 17.9987 12 17.9987C12.3975 17.9987 12.7787 17.8409 13.06 17.56L19.56 11.06C19.8409 10.7787 19.9987 10.3975 19.9987 9.99998C19.9987 9.60247 19.8409 9.22123 19.56 8.93998Z" fill="%2357137E"/></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
        background-size: 15px;
        padding-right: 40px;
        height: 40px;
      }
    }

    .container-tabs {
      display: flex;
      gap: 10px;

      .tab {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: fit-content;
        padding: 8px 18px;
        cursor: pointer;
        background: $color-tab1;
        color: $color-morado;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
          opacity 0.3s;
        border-radius: 23px;
        -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

        @include media(mobile) {
          padding: 8px 12px;
          border-radius: 18px;

          span {
            font-size: 14px;
          }
        }

        &:hover {
          background: $color-morado;
          color: $color-blanco;
        }

        &.active {
          background: $color-morado;
          color: $color-blanco;
          font-family: $montserrat-bold;
          animation: fadeIn 0.3s ease-in-out;
        }
      }

      // Animación de fundido
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    .count-result {
      font-family: $montserrat-bold;
      display: block;
      text-align: center;
      margin: 25px 0;
      width: 100%;
    }

    .dinero {
      color: $color-succes;
      font-family: $montserrat-bold;
    }

    // Estilos para el modal de ventas
    .modal-backdrop {
      position: fixed;
      padding: 20px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      animation: fadeIn 0.3s ease forwards;

      .modal {
        background: white;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 10px;
        max-width: 900px;
        position: relative;
        transform: scale(0.8);
        opacity: 0;
        animation: scaleUp 0.3s ease forwards;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        -webkit-animation: scaleUp 0.3s ease forwards;

        .modal-close {
          position: absolute;
          top: 10px;
          right: 15px;
          background: transparent;
          border: none;
          font-size: 18px;
          cursor: pointer;
        }

        .heading-modal {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .tile-container {
            display: flex;
            gap: 20px;

            .tile {
              h3 {
                margin: 0;
              }
            }
          }
          .aviso {
            display: flex;
            gap: 12px;
            padding: 8px;
            background: $fondo-warning;
            align-items: center;
            border: 1px solid $border-warning;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            &::before {
              content: "";
              width: 20px;
              height: 20px;
              background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M18 9C18 13.9707 13.9707 18 9 18C4.0293 18 0 13.9707 0 9C0 4.0293 4.0293 0 9 0C13.9707 0 18 4.0293 18 9ZM9 16.2C10.9096 16.2 12.7409 15.4414 14.0912 14.0912C15.4414 12.7409 16.2 10.9096 16.2 9C16.2 7.09044 15.4414 5.25909 14.0912 3.90883C12.7409 2.55857 10.9096 1.8 9 1.8C7.09044 1.8 5.25909 2.55857 3.90883 3.90883C2.55857 5.25909 1.8 7.09044 1.8 9C1.8 10.9096 2.55857 12.7409 3.90883 14.0912C5.25909 15.4414 7.09044 16.2 9 16.2Z" fill="%234B4B4B"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9 10.8C8.7613 10.8 8.53239 10.7052 8.3636 10.5364C8.19482 10.3676 8.1 10.1387 8.1 9.9V5.4C8.1 5.16131 8.19482 4.93239 8.3636 4.7636C8.53239 4.59482 8.7613 4.5 9 4.5C9.23869 4.5 9.46761 4.59482 9.6364 4.7636C9.80518 4.93239 9.9 5.16131 9.9 5.4V9.9C9.9 10.1387 9.80518 10.3676 9.6364 10.5364C9.46761 10.7052 9.23869 10.8 9 10.8Z" fill="%234B4B4B"/><path d="M8.1 12.6C8.1 12.3613 8.19482 12.1324 8.3636 11.9636C8.53239 11.7948 8.7613 11.7 9 11.7C9.23869 11.7 9.46761 11.7948 9.6364 11.9636C9.80518 12.1324 9.9 12.3613 9.9 12.6C9.9 12.8387 9.80518 13.0676 9.6364 13.2364C9.46761 13.4052 9.23869 13.5 9 13.5C8.7613 13.5 8.53239 13.4052 8.3636 13.2364C8.19482 13.0676 8.1 12.8387 8.1 12.6Z" fill="%234B4B4B"/></svg>');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }

        .block {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .title {
            padding-bottom: 20px;
            border-bottom: 1px solid $color-bordes;
          }

          .fila {
            display: flex;
            gap: 20px;

            .group-el {
              display: flex;
              flex-direction: column;
              gap: 10px;
              width: 100%;

              .label {
                font-size: 14px;
              }
              .value {
                width: 100%;

                border: 1px solid $color-bordes;
                padding: 7px 10px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
              }
            }

            .tienda {
              .value {
                background: $color-azul-pastel;
                border: 1px solid $color-borde-azul-bajo;
                color: $color-azul;
                font-family: $montserrat-bold;
              }
            }

            .pago {
              .value {
                background: $color-verde-v2-opaco;
                border: 1px solid $color-boerde-verde-v2;
                color: $color-verde-v2;
                font-family: $montserrat-bold;
              }
            }

            @include media(desktop) {
              .cant {
                width: 300px;
              }

              .desc {
                width: 400px;
              }

              .venta {
                width: 400px;
              }
            }
          }

          .productos {
            display: flex;
            flex-direction: column;
            background: $gris-clarito;
            width: 100%;
            gap: 15px;
            padding: 20px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;

            .fila {
              padding-bottom: 15px;
              .value {
                background: $color-blanco;
              }
            }

            .total-productos {
              padding-top: 20px;
              border-top: 1px solid $color-bordes;
            }
          }
        }

        .footer {
          display: flex;
          justify-content: space-between;
          padding-top: 30px;
          margin-top: 20px;
          border-top: 1px solid $color-bordes;

          .factura {
            cursor: pointer;
            display: flex;
            gap: 10px;
            align-items: center;
            background: $color-rojo-v2;
            color: $color-blanco;
            font-family: $montserrat-bold;
            padding: 12px 15px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;

            &::before {
              content: "";
              display: block;
              width: 20px;
              height: 20px;
              background-image: url('data:image/svg+xml,<svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.94901 20.3947H13.051C15.0202 20.3947 16 19.3959 16 17.4173V8.78007C16 7.55274 15.8669 7.02024 15.1059 6.24017L9.8548 0.903861C9.13236 0.161534 8.54224 0 7.46751 0H2.94901C0.989499 0 0 1.00817 0 2.98716V17.4173C0 19.4052 0.989499 20.3947 2.94901 20.3947ZM3.02491 18.8634C2.04515 18.8634 1.53133 18.3398 1.53133 17.3889V3.01558C1.53133 2.07397 2.04515 1.53133 3.03465 1.53133H7.25808V7.05839C7.25808 8.25691 7.86688 8.84663 9.04632 8.84663H14.4687V17.3889C14.4687 18.3398 13.9642 18.8634 12.9751 18.8634H3.02491ZM9.2176 7.40987C8.84663 7.40987 8.69403 7.25808 8.69403 6.87738V1.82639L14.1732 7.41028L9.2176 7.40987ZM11.5006 11.4624H4.28025C3.93811 11.4624 3.69093 11.7193 3.69093 12.0428C3.69093 12.3756 3.93851 12.6325 4.28066 12.6325H11.5006C11.5784 12.6338 11.6556 12.6194 11.7277 12.5902C11.7999 12.561 11.8654 12.5176 11.9204 12.4626C11.9754 12.4076 12.0188 12.3421 12.048 12.27C12.0772 12.1979 12.0916 12.1206 12.0903 12.0428C12.0903 11.7193 11.8334 11.4624 11.5006 11.4624ZM11.5006 14.7824H4.28025C3.93811 14.7824 3.69093 15.0487 3.69093 15.3815C3.69093 15.7049 3.93851 15.9525 4.28066 15.9525H11.5006C11.8334 15.9525 12.0903 15.7049 12.0903 15.3815C12.0903 15.0487 11.8334 14.7824 11.5006 14.7824Z" fill="white"/></svg>');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
            }
          }

          .cerrar {
            cursor: pointer;
            font-family: $montserrat-bold;
            padding: 12px 30px;
            border: 1px solid $color-bordes;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
          }
        }
      }
    }
  }
}
