html {
  body {
    font-family: $montserrat-regular;
    color: $color-gris !important;
    line-height: 1.3;

    a {
      color: $color-morado;
      text-decoration: none;
      cursor: pointer;
    }

    strong,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $montserrat-bold;
    }

    select {
      padding: 10px 18px;
      padding: 2px 8px;
      border-radius: 4px;
      border: 1px solid $color-bordes;
      width: fit-content;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.56 8.93998C19.2787 8.65907 18.8975 8.5013 18.5 8.5013C18.1025 8.5013 17.7212 8.65907 17.44 8.93998L12 14.38L6.55998 8.93998C6.27563 8.67502 5.89954 8.53077 5.51093 8.53763C5.12233 8.54448 4.75156 8.70191 4.47673 8.97673C4.20191 9.25156 4.04448 9.62233 4.03763 10.0109C4.03077 10.3995 4.17502 10.7756 4.43998 11.06L10.94 17.56C11.2212 17.8409 11.6025 17.9987 12 17.9987C12.3975 17.9987 12.7787 17.8409 13.06 17.56L19.56 11.06C19.8409 10.7787 19.9987 10.3975 19.9987 9.99998C19.9987 9.60247 19.8409 9.22123 19.56 8.93998Z" fill="%236B21A8"/></svg>');
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) center;
      background-size: 15px;
      padding-right: 40px;
      height: 40px;

      &:focus-visible {
        outline: none;
      }

      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
      }
    }
    .inp-group {
      border: 1px solid $color-morado;
      display: flex;
      padding: 0 0 0 8px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      background: $color-blanco;

      img {
        cursor: block;
      }
      input {
        padding: 7px 14px;
        border: none;
        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
        }
      }
    }

    .btn-pr {
      display: flex;
      align-items: center;
      width: fit-content;
      outline: none;
      text-decoration: none;
      border: none;
      word-break: auto-phrase;
      padding: 8px 18px;
      background: $color-morado;
      color: $color-blanco;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;

      &:hover {
        background: $color-morado-hover;
        color: $color-blanco;
      }

      &:active {
        background: $color-blanco;
        border: 1px solid $color-morado;
        color: $color-morado !important;
      }
    }

    .btn-out {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: fit-content;
      outline: none;
      text-decoration: none;
      border: none;
      padding: 6px 18px;
      background: $color-blanco;
      color: $color-morado;
      border: 1px solid $color-morado;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;

      &:hover {
        background: $color-morado;
        color: $color-blanco;
      }

      &:active {
        background: $color-morado;
        color: $color-blanco;
      }
    }
    .btn-scc {
      display: flex;
      align-items: center;
      width: fit-content;
      outline: none;
      text-decoration: none;
      border: none;
      padding: 8px 18px;
      background: $color-blanco;
      color: $color-succes;
      border: 1px solid $color-succes;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;

      &:hover {
        background: $color-succes-opaco;
      }

      &:active {
        background: $color-succes;
        color: $color-blanco;
      }
    }
    .btn-dl {
      display: flex;
      align-items: center;
      width: fit-content;
      outline: none;
      text-decoration: none;
      border: none;
      padding: 8px 18px;
      background: $color-rojo;
      color: $color-blanco;
      border: 1px solid $color-rojo;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;

      &:hover {
        background: $color-rojo-oscuro;
      }
    }

    &:active {
      background: $color-blanco;
      color: $color-rojo;
    }

    label {
      font-family: $montserrat-bold;
      font-size: 13px;
      text-align: left;
      width: 100%;
    }

    .label {
      font-family: $montserrat-bold;
      font-size: 13px;
      text-align: left;
      width: fit-content;
      width: 100%;
    }

    .modal-conatiner {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      @include media(mobile) {
        padding: 25px;
      }

      .modal-content {
        background: white;
        border-radius: 5px;
        width: fit-content;
        text-align: center;
        width: 500px;
        border: 1px solid rgb(179, 179, 179);

        @include media(mobile) {
          width: 100%;
        }

        .title {
          text-align: left;
          border-bottom: 1px solid rgb(179, 179, 179);
          padding: 20px;
          display: flex;
          gap: 20px;
          align-items: center;

          img {
            width: 30px;
            cursor: pointer;
          }
        }
        .body {
          text-align: left;
          border-bottom: 1px solid rgb(179, 179, 179);
          padding: 20px;
          padding-bottom: 40px;
        }

        .foot {
          padding: 20px;
          display: flex;
          gap: 20px;
          justify-content: flex-end;
        }
        .spin {
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .btn {
      display: flex;
      align-items: center;
      width: fit-content;
      padding: 10px 18px;
      color: $color-blanco;
      background: $color-morado;
      font-family: $montserrat-bold;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;

      &:hover {
        background: $color-morado-hover;
        color: $color-blanco;
      }

      &:active {
        background: $color-blanco;
        border: 1px solid $color-morado;
        color: $color-morado !important;
      }
    }
    .select-in {
      padding: 10px 18px;
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid $color-gris;

      &:focus-visible {
        outline: none;
      }

      &:focus {
        border: 1.5px solid $color-morado;
        box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
      }
    }
    .general-container {
      position: relative;
      background: $color-fondo-general;
      flex: 1;
      height: 100vh;
      overflow-y: scroll;
    }
    .section-general {
      display: flex;
      flex-direction: column;

      .body-section {
        background: $color-blanco;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include media(mobile) {
          padding: 40px 20px 35px 20px;
          position: relative;
          justify-content: center;
          bottom: 40px;
          border-radius: 50px 50px 0 0;
          -webkit-border-radius: 50px 50px 0 0;
          -moz-border-radius: 50px 50px 0 0;
          -ms-border-radius: 50px 50px 0 0;
          -o-border-radius: 50px 50px 0 0;
        }

        @include media(tablet) {
          padding: 40px 20px 35px 20px;
          justify-content: center;
          position: relative;
          bottom: 50px;
          border-radius: 50px 50px 0 0;
          -webkit-border-radius: 50px 50px 0 0;
          -moz-border-radius: 50px 50px 0 0;
          -ms-border-radius: 50px 50px 0 0;
          -o-border-radius: 50px 50px 0 0;
        }
      }
    }

    .error-message {
      color: red;
      font-size: 14px;
      font-family: $montserrat-bold;
      width: 100%;
      text-align: center;
    }
    .error-message-forms {
      color: red;
      font-size: 12px;
      font-family: $montserrat-bold;
      width: 100%;
    }

    .warning-message {
      color: $warning-color;
      font-size: 14px;
      font-family: $montserrat-bold;
      width: 100%;
      margin: 30px 0;
      text-align: center;
    }
    input,
    textarea {
      flex: 1;
      padding: 4px 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      border: 1px solid $color-morado;

      &:focus-visible {
        outline: none;
      }

      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
      }
    }

    .search-bar {
      display: flex;
      gap: 10px;
      width: 50%;
      height: fit-content;

      @include media(mobile) {
        width: 100%;
      }
      @include media(tablet) {
        width: 65%;
      }

      input {
        flex: 1;
        padding: 4px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        border: 1px solid $color-bordes;

        &:focus-visible {
          outline: none;
        }

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(141, 13, 253, 0.25);
        }
      }
      button {
        padding: 8px 12px;
        background-color: $color-morado;
        color: white;
        border: none;
        width: fit-content;
        border-radius: 4px;
        cursor: pointer;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        &:hover {
          background-color: #460d64;
        }
      }

      select {
        width: fit-content;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.56 8.93998C19.2787 8.65907 18.8975 8.5013 18.5 8.5013C18.1025 8.5013 17.7212 8.65907 17.44 8.93998L12 14.38L6.55998 8.93998C6.27563 8.67502 5.89954 8.53077 5.51093 8.53763C5.12233 8.54448 4.75156 8.70191 4.47673 8.97673C4.20191 9.25156 4.04448 9.62233 4.03763 10.0109C4.03077 10.3995 4.17502 10.7756 4.43998 11.06L10.94 17.56C11.2212 17.8409 11.6025 17.9987 12 17.9987C12.3975 17.9987 12.7787 17.8409 13.06 17.56L19.56 11.06C19.8409 10.7787 19.9987 10.3975 19.9987 9.99998C19.9987 9.60247 19.8409 9.22123 19.56 8.93998Z" fill="%236B21A8"/></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
        background-size: 15px;
        padding-right: 40px;
        height: 40px;
      }
    }

    .container-tabs {
      display: flex;
      gap: 10px;
      width: 100%;
      max-width: 1400px;

      @include media(mobile) {
        justify-content: center;
      }

      .tab {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        align-items: center;
        width: fit-content;
        padding: 8px 18px;
        font-weight: bold;
        cursor: pointer;
        background: $color-blanco;
        border: 1px solid $color-bordes;
        box-shadow: 0 4px 2px rgba(173, 173, 173, 0.25);
        border-radius: 6px;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
          opacity 0.3s;
        -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;

        @include media(mobile) {
          padding: 8px 12px;

          span {
            font-size: 14px;
          }
        }

        &:hover {
          background: $color-morado;
          color: $color-blanco;
        }

        &.active {
          background: $color-morado;
          color: $color-blanco;
          font-family: $montserrat-bold;
          animation: fadeIn 0.3s ease-in-out;
        }
      }

      // Animación de fundido
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    .count-result {
      display: block;
      text-align: center;
      font-weight: bold;
      margin: 25px 0;
      width: 100%;
    }

    .dinero {
      color: $color-succes;
      font-family: $montserrat-bold;
    }

    // Estilos para el modal de ventas
    .modal-backdrop {
      position: fixed;
      padding: 20px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      animation: fadeIn 0.3s ease forwards;

      .modal {
        background: white;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 5px;
        max-width: 900px;
        position: relative;
        transform: scale(0.8);
        opacity: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        animation: scaleUp 0.3s ease forwards;
        -webkit-animation: scaleUp 0.3s ease forwards;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        @include media(mobile) {
          padding: 15px;
          padding-top: 38px;
        }

        .modal-close {
          position: absolute;
          top: 10px;
          right: 15px;
          background: transparent;
          border: none;
          font-size: 18px;
          cursor: pointer;
        }

        .heading-modal {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .tile-container {
            display: flex;
            gap: 20px;

            .tile {
              text-align: center;
              width: 100%;
              h3 {
                margin: 0;
              }
            }
          }
          .aviso {
            display: flex;
            gap: 12px;
            padding: 8px;
            background: $fondo-danger;
            align-items: center;
            border: 1px solid $border-danger;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            &::before {
              content: "";
              width: 20px;
              height: 20px;
              background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M18 9C18 13.9707 13.9707 18 9 18C4.0293 18 0 13.9707 0 9C0 4.0293 4.0293 0 9 0C13.9707 0 18 4.0293 18 9ZM9 16.2C10.9096 16.2 12.7409 15.4414 14.0912 14.0912C15.4414 12.7409 16.2 10.9096 16.2 9C16.2 7.09044 15.4414 5.25909 14.0912 3.90883C12.7409 2.55857 10.9096 1.8 9 1.8C7.09044 1.8 5.25909 2.55857 3.90883 3.90883C2.55857 5.25909 1.8 7.09044 1.8 9C1.8 10.9096 2.55857 12.7409 3.90883 14.0912C5.25909 15.4414 7.09044 16.2 9 16.2Z" fill="%234B4B4B"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9 10.8C8.7613 10.8 8.53239 10.7052 8.3636 10.5364C8.19482 10.3676 8.1 10.1387 8.1 9.9V5.4C8.1 5.16131 8.19482 4.93239 8.3636 4.7636C8.53239 4.59482 8.7613 4.5 9 4.5C9.23869 4.5 9.46761 4.59482 9.6364 4.7636C9.80518 4.93239 9.9 5.16131 9.9 5.4V9.9C9.9 10.1387 9.80518 10.3676 9.6364 10.5364C9.46761 10.7052 9.23869 10.8 9 10.8Z" fill="%234B4B4B"/><path d="M8.1 12.6C8.1 12.3613 8.19482 12.1324 8.3636 11.9636C8.53239 11.7948 8.7613 11.7 9 11.7C9.23869 11.7 9.46761 11.7948 9.6364 11.9636C9.80518 12.1324 9.9 12.3613 9.9 12.6C9.9 12.8387 9.80518 13.0676 9.6364 13.2364C9.46761 13.4052 9.23869 13.5 9 13.5C8.7613 13.5 8.53239 13.4052 8.3636 13.2364C8.19482 13.0676 8.1 12.8387 8.1 12.6Z" fill="%234B4B4B"/></svg>');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;

              @include media(mobile) {
                width: 55px;
              }
            }
          }
        }

        .block {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .title {
            padding-bottom: 20px;
            border-bottom: 1px solid $color-bordes;
          }

          .fila {
            display: flex;
            gap: 20px;
            align-items: flex-start;

            @include media(mobile) {
              flex-direction: column;
            }

            .group-el {
              display: flex;
              flex-direction: column;
              gap: 10px;
              width: 100%;

              .value {
                width: 100%;
                border: 1px solid $color-bordes;
                padding: 7px 10px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
              }
            }

            .tienda {
              .value {
                font-family: $montserrat-bold;
              }
            }

            @include media(desktop) {
              .cant {
                width: 300px;
              }

              .desc {
                width: 400px;
              }

              .venta {
                width: 400px;
              }
            }
          }

          .productos {
            display: flex;
            flex-direction: column;
            background: $gris-clarito;
            width: 100%;
            gap: 15px;
            padding: 12px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;

            .fila {
              padding-bottom: 15px;
              .value {
                background: $color-blanco;
              }
            }

            .total-productos {
              padding-top: 20px;
              border-top: 1px solid $color-bordes;
            }
          }

          .add-product {
            margin: 0 auto;
            padding: 8px 13px;
            width: fit-content;
            text-align: center;
            background: $color-azul-v2;
            color: white;
            gap: 10px;
            display: flex;
            justify-content: center;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;

            &:hover {
              // aclarar con lighting el color azul al pasar el mouse usando la variable $color-azul-v2
              background-color: lighten($color-azul-v2, 10%);
            }
          }
        }

        .footer {
          display: flex;
          justify-content: space-between;
          padding-top: 30px;
          margin-top: 20px;
          border-top: 1px solid $color-bordes;

          @include media(mobile) {
            gap: 20px;
          }

          .actions-group {
            display: flex;
            align-items: center;
            gap: 15px;
          }

          .actions {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;

            &::before {
              content: "";
              display: block;
              width: 38px;
              height: 34px;
              background-image: url('data:image/svg+xml,<svg width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.33122 1.4111e-07H22.1463C23.6836 1.4111e-07 24.7417 1.35147e-07 25.6321 0.308365C26.464 0.602638 27.2169 1.08462 27.8324 1.71691C28.4479 2.34921 28.9095 3.11481 29.1813 3.95433C29.4776 4.85675 29.4761 5.92998 29.4761 7.52168V28.9077C29.4761 31.1237 26.8655 32.4418 25.1469 30.8682C25.0917 30.8155 25.0183 30.786 24.942 30.786C24.8657 30.786 24.7924 30.8155 24.7372 30.8682L24.0056 31.5364C22.6028 32.8212 20.4775 32.8212 19.0748 31.5364C18.8209 31.2993 18.4865 31.1674 18.1391 31.1674C17.7917 31.1674 17.4573 31.2993 17.2034 31.5364C15.8007 32.8212 13.6754 32.8212 12.2726 31.5364C12.0187 31.2993 11.6843 31.1674 11.3369 31.1674C10.9896 31.1674 10.6552 31.2993 10.4013 31.5364C8.99851 32.8212 6.87321 32.8212 5.47045 31.5364L4.74035 30.8682C4.68514 30.815 4.61145 30.7853 4.53478 30.7853C4.4581 30.7853 4.38441 30.815 4.3292 30.8682C2.61052 32.4403 0 31.1237 0 28.9077V7.5232C0 5.92998 -9.00979e-08 4.85675 0.29476 3.95433C0.566561 3.11481 1.02813 2.34921 1.64364 1.71691C2.25916 1.08462 3.01208 0.602638 3.84398 0.308365C4.73582 -0.00151146 5.79393 1.4111e-07 7.33122 1.4111e-07ZM7.5504 2.26739C5.70475 2.26739 5.06837 2.28251 4.58768 2.45029C4.08566 2.63028 3.63178 2.92335 3.26115 3.30682C2.89052 3.69029 2.61308 4.15389 2.45029 4.66175C2.2825 5.17267 2.2689 5.84684 2.2689 7.73935V28.9077C2.2689 29.0891 2.35808 29.1979 2.47145 29.2508C2.52318 29.2755 2.58085 29.2849 2.63773 29.278C2.6989 29.2676 2.75537 29.2386 2.79947 29.1949C3.27247 28.7595 3.89187 28.5178 4.53478 28.5178C5.17768 28.5178 5.79709 28.7595 6.27009 29.1949L7.00019 29.863C7.25408 30.1001 7.5885 30.2319 7.93586 30.2319C8.28323 30.2319 8.61764 30.1001 8.87154 29.863C9.54335 29.244 10.4234 28.9004 11.3369 28.9004C12.2505 28.9004 13.1305 29.244 13.8024 29.863C14.0562 30.1001 14.3907 30.2319 14.738 30.2319C15.0854 30.2319 15.4198 30.1001 15.6737 29.863C16.3455 29.244 17.2256 28.9004 18.1391 28.9004C19.0526 28.9004 19.9327 29.244 20.6045 29.863C20.8584 30.1001 21.1928 30.2319 21.5402 30.2319C21.8876 30.2319 22.222 30.1001 22.4759 29.863L23.206 29.1949C23.679 28.7595 24.2984 28.5178 24.9413 28.5178C25.5842 28.5178 26.2036 28.7595 26.6766 29.1949C26.7416 29.2554 26.7975 29.2735 26.8398 29.278C26.8962 29.2846 26.9533 29.2752 27.0046 29.2508C27.118 29.1979 27.2087 29.0876 27.2087 28.9077V7.73935C27.2087 5.84684 27.1936 5.17267 27.0273 4.66024C26.864 4.15235 26.586 3.68884 26.2148 3.30562C25.8437 2.9224 25.3893 2.62974 24.8869 2.45029C24.4077 2.28402 23.7713 2.2689 21.9256 2.2689L7.5504 2.26739ZM19.2743 9.35676C19.3856 9.45593 19.4762 9.57607 19.541 9.71032C19.6059 9.84456 19.6435 9.99027 19.652 10.1391C19.6604 10.2879 19.6394 10.4369 19.5901 10.5776C19.5409 10.7183 19.4644 10.848 19.365 10.959L13.9656 17.0054C13.8593 17.1245 13.7289 17.2199 13.5832 17.2851C13.4375 17.3504 13.2796 17.3841 13.1199 17.3841C12.9602 17.3841 12.8023 17.3504 12.6565 17.2851C12.5108 17.2199 12.3805 17.1245 12.2741 17.0054L10.1156 14.5869C9.91719 14.3625 9.81567 14.0687 9.8332 13.7696C9.85073 13.4706 9.98589 13.1907 10.2091 12.991C10.4324 12.7913 10.7256 12.6881 11.0247 12.7039C11.3238 12.7197 11.6046 12.8532 11.8055 13.0753L13.1206 14.5476L17.6735 9.44897C17.7726 9.33779 17.8926 9.24722 18.0266 9.18241C18.1607 9.11761 18.3062 9.07985 18.4548 9.07129C18.6035 9.06273 18.7524 9.08353 18.893 9.13251C19.0336 9.18149 19.1632 9.25769 19.2743 9.35676ZM6.80368 21.5402C6.80368 21.2395 6.92312 20.9512 7.13573 20.7386C7.34834 20.5259 7.6367 20.4065 7.93737 20.4065H21.5417C21.8424 20.4065 22.1307 20.5259 22.3433 20.7386C22.556 20.9512 22.6754 21.2395 22.6754 21.5402C22.6754 21.8409 22.556 22.1292 22.3433 22.3418C22.1307 22.5544 21.8424 22.6739 21.5417 22.6739H7.93737C7.6367 22.6739 7.34834 22.5544 7.13573 22.3418C6.92312 22.1292 6.80368 21.8409 6.80368 21.5402Z" fill="%232D70EB"/></svg>');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
            }
          }

          .actions-w {
            &::before {
              background-image: url('data:image/svg+xml,<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.6249 4.72882C26.1349 3.22425 24.3603 2.03128 22.4046 1.21942C20.4489 0.407569 18.3512 -0.00692763 16.2337 8.75794e-05C7.36123 8.75794e-05 0.13 7.23132 0.13 16.1038C0.13 18.9475 0.877498 21.71 2.27499 24.1475L0 32.5L8.53123 30.2575C10.8875 31.5413 13.5362 32.2238 16.2337 32.2238C25.1062 32.2238 32.3374 24.9925 32.3374 16.12C32.3374 11.8138 30.6637 7.76757 27.6249 4.72882ZM16.2337 29.4938C13.8287 29.4938 11.4725 28.8438 9.40872 27.625L8.92123 27.3325L3.85124 28.665L5.19999 23.725L4.87499 23.2213C3.53851 21.0878 2.829 18.6214 2.82749 16.1038C2.82749 8.72632 8.83998 2.71383 16.2175 2.71383C19.7924 2.71383 23.1562 4.11133 25.6749 6.64632C26.9223 7.88759 27.9108 9.36419 28.5831 10.9905C29.2553 12.6167 29.598 14.3603 29.5912 16.12C29.6237 23.4975 23.6112 29.4938 16.2337 29.4938ZM23.5787 19.4838C23.1724 19.2888 21.1899 18.3138 20.8324 18.1675C20.4587 18.0375 20.1987 17.9725 19.9224 18.3625C19.6462 18.7688 18.8824 19.6788 18.6549 19.9388C18.4274 20.215 18.1837 20.2475 17.7775 20.0363C17.3712 19.8413 16.0712 19.4025 14.5437 18.0375C13.3412 16.965 12.545 15.6488 12.3012 15.2425C12.0737 14.8363 12.2687 14.625 12.48 14.4138C12.6587 14.2351 12.8862 13.9426 13.0812 13.7151C13.2762 13.4876 13.3575 13.3088 13.4875 13.0488C13.6175 12.7726 13.5525 12.5451 13.455 12.3501C13.3575 12.1551 12.545 10.1726 12.22 9.36006C11.895 8.58007 11.5537 8.67756 11.31 8.66131H10.53C10.2537 8.66131 9.83122 8.75881 9.45747 9.16506C9.09998 9.57131 8.05998 10.5463 8.05998 12.5288C8.05998 14.5113 9.50623 16.4288 9.70123 16.6888C9.89622 16.965 12.545 21.0275 16.575 22.7663C17.5337 23.1888 18.2812 23.4325 18.8662 23.6113C19.8249 23.92 20.7024 23.8713 21.4012 23.7738C22.1812 23.66 23.7899 22.7988 24.1149 21.8563C24.4562 20.9138 24.4562 20.1175 24.3424 19.9388C24.2287 19.76 23.9849 19.6788 23.5787 19.4838Z" fill="%23028036"/></svg>');
            }
          }
        }
      }

      .modal-confirm {
        padding: 0;
        background: white;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        gap: 0;
        max-width: 500px;
        height: fit-content;

        .title-confirm {
          width: 100%;
          text-align: left;
          border-bottom: 1px solid rgb(179, 179, 179);
          padding: 20px;
          display: flex;
          gap: 20px;
          align-items: center;
        }

        .body-text {
          padding: 20px;
        }

        .actions-group {
          padding: 0 20px;
        }

        .footer {
          padding-top: 20px;
        }
      }
    }
    .valueSort {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* número de líneas */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .no-results-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px;
      background: $color-blanco;
      align-items: center;
      border: 1px solid $color-bordes;
      gap: 30px;
      text-align: center;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      .message {
        font-weight: bold;
      }

      .submessage {
        color: $color-letra-secundaria;
        font-size: 14px;
      }
    }
  }
}
