@use "./variables" as *;
@use "./mixins" as *;

.link-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: $montserrat-bold;
  color: $color-morado;
  display: flex;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  width: 170px;
  padding: 15px 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;

  .blanca {
    display: none;
  }

  &:hover {
    background: $color-morado;
    color: $color-blanco;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);

    .blanca {
      display: flex;
    }

    .normal {
      display: none;
    }
  }

  @include media(mobile) {
    padding: 20px;
    flex-direction: column;
    width: 45%;

    text-align: center;
  }

  img {
    width: 55px;
    height: auto;

    @include media(mobile) {
      width: 75px;
      height: auto;
    }
  }
}
