.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  @include media(mobile) {
    background: $color-blanco;
  }

  .head {
    width: 100%;
    justify-content: end;
    display: flex;
  }
  .foot {
    width: 100%;
    justify-content: reverse;
    display: flex;

    img {
      transform: scaleX(-1);
    }
  }

  .content {
    width: 600px;
    display: grid;
    grid-template-columns: 30% 70%;
    box-shadow: 0 0 12px 5px rgba(45, 8, 129, 0.1);
    border: 1px solid $color-morado;
    padding: 40px;
    gap: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    @include media(mobile) {
      display: flex;
      width: 100%;
      gap: 30px;
      padding: 20px;
      box-shadow: none;
      flex-direction: column;
      border: none;
    }

    .block {
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
      justify-content: center;

      .logo {
        width: 140px;
        height: auto;
        align-items: center;
        justify-content: center;
      }
      form {
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .inp-group {
          width: 80%;
        }

        @include media(mobile) {
          width: 85%;
          .inp-group {
            width: 100%;
          }
        }
      }

      .input {
        border: 1.5px solid $color-morado;

        &::before {
          display: flex;
          content: "";
          background-image: url('data:image/svg+xml,<svg width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.123464 14.1917C0.143267 15.2404 0.406942 16.2702 0.893604 17.1994C1.38027 18.1285 2.07654 18.9316 2.92728 19.5449C3.77802 20.1582 4.75984 20.5649 5.79498 20.7329C6.83012 20.9008 7.89013 20.8254 8.89105 20.5125L13.4612 24.9204C13.5525 25.0082 13.6601 25.0773 13.7781 25.1236C13.896 25.1698 14.0219 25.1924 14.1485 25.19L17.3623 25.1311C17.618 25.1265 17.8613 25.0204 18.0388 24.8362C18.2163 24.652 18.3134 24.4049 18.3087 24.1491L18.2499 20.9345C18.2452 20.6787 18.1391 20.4353 17.955 20.2577C17.7709 20.0802 17.5238 19.983 17.2681 19.9877L16.304 20.0054L16.2863 19.041C16.2817 18.7852 16.1756 18.5418 15.9915 18.3642C15.8074 18.1867 15.5603 18.0896 15.3046 18.0942L14.3404 18.1119L14.3228 17.1475C14.3206 17.0208 14.2934 16.8958 14.2429 16.7796C14.1924 16.6634 14.1194 16.5583 14.0283 16.4704L13.3844 15.8503C13.639 14.917 13.6901 13.9399 13.5342 12.9851C13.3784 12.0304 13.0192 11.1203 12.4811 10.3165C11.943 9.51265 11.2385 8.83387 10.4153 8.32611C9.59215 7.81834 8.66949 7.49344 7.70984 7.37342C6.75019 7.25339 5.77597 7.34104 4.85314 7.63043C3.93031 7.91982 3.08042 8.40419 2.36104 9.05073C1.64165 9.69728 1.06956 10.4909 0.683513 11.3779C0.297465 12.2648 0.10647 13.2244 0.123464 14.1917ZM11.693 13.9799C11.7054 14.588 11.6019 15.1929 11.388 15.7622C11.3153 15.9409 11.2978 16.1372 11.3378 16.326C11.3778 16.5147 11.4734 16.6871 11.6123 16.8209L12.4019 17.5846L12.4298 19.1116C12.4345 19.3673 12.5406 19.6108 12.7247 19.7883C12.9088 19.9659 13.1559 20.063 13.4116 20.0583L14.3757 20.0407L14.3934 21.0051C14.3981 21.2608 14.5041 21.5043 14.6883 21.6818C14.8724 21.8594 15.1195 21.9565 15.3752 21.9518L16.3393 21.9342L16.3628 23.22L14.5149 23.2538L9.79831 18.7055C9.65963 18.5717 9.48404 18.4825 9.2942 18.4494C9.10435 18.4163 8.90896 18.4409 8.73322 18.52C7.78191 18.9181 6.72806 19.0006 5.72641 18.7554C4.72476 18.5103 3.82807 17.9503 3.16802 17.1578C2.50797 16.3653 2.11933 15.382 2.05917 14.3522C1.999 13.3225 2.27048 12.3006 2.83374 11.4366C3.39701 10.5726 4.22237 9.91197 5.18865 9.55177C6.15494 9.19156 7.21122 9.15074 8.20241 9.43529C9.19361 9.71985 10.0675 10.3148 10.6957 11.1328C11.324 11.9507 11.6735 12.9486 11.693 13.9799ZM5.21251 11.2044C5.46675 11.1997 5.71667 11.2706 5.93066 11.408C6.14464 11.5455 6.31309 11.7433 6.41468 11.9764C6.51628 12.2096 6.54647 12.4677 6.50143 12.718C6.4564 12.9684 6.33816 13.1997 6.16167 13.3828C5.98518 13.566 5.75837 13.6926 5.50991 13.7468C5.26146 13.801 5.00252 13.7802 4.76585 13.6872C4.52917 13.5942 4.32539 13.4331 4.18026 13.2242C4.03514 13.0153 3.9552 12.7681 3.95054 12.5138C3.9443 12.1727 4.07375 11.8432 4.31042 11.5976C4.54708 11.3521 4.87157 11.2106 5.21251 11.2044Z" fill="%232A2A2A"/><path d="M30.3264 0.779694V31.7797" stroke="%23828282"/></svg>');
          background-size: 20px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
