@use "./variables" as *;
@use "./mixins" as *;

/* SearchBar.module.css */
.search-container {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;

  @include media(mobile) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  @include media(tablet) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .innova-stock {
    width: 180px;
  }
}
