.sidebar {
  width: 240px;
  color: $color-blanco;
  background: linear-gradient($color-morado, $color-morado-oscuro);
  display: grid;
  grid-template-rows: 75px 82%;
  gap: 20px;
  height: 100vh;
  transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;

  @include media(desktopXXL) {
    grid-template-rows: 75px 84%;
  }

  @include media(mobile) {
    width: 320px;
    position: fixed;
    z-index: 3;
    height: fit-content;
    border-bottom-right-radius: 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    gap: 0;
  }

  @include media(tablet) {
    width: 350px;
    position: fixed;
    z-index: 3;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    height: fit-content;
    border-bottom-right-radius: 16px;
    gap: 0;
  }

  .sidebar-header-collapsed {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    @include media(mobile) {
      background: none;
      background: $color-morado;
      box-shadow: none;
    }

    @include media(tablet) {
      background: $color-morado;
      box-shadow: none;
    }

    .toggle-btn {
      background-color: transparent;
      color: $color-blanco;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
  }
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    @include media(mobile) {
      background: $color-morado;
    }

    .innovaText {
      width: 140px;
    }

    .toggle-btn {
      background-color: transparent;
      color: $color-blanco;
      border: none;
      padding: 5px;
      cursor: pointer;
    }
  }
  .sidebar-content {
    display: grid;
    grid-template-rows: 86% 8%;
    padding: 10px 15px;

    @include media(desktopXXL) {
      grid-template-rows: 93% 8%;
    }
    @include media(mobile) {
      display: flex;
      flex-direction: column;
    }
    @include media(tablet) {
      display: flex;
      flex-direction: column;
    }

    .sidebar-nav {
      padding: 8px 0;

      @include media(mobile) {
        padding: 25px 15px;
      }

      @include media(tablet) {
        padding: 25px 15px;
      }

      ul {
        list-style: none;
        padding: 0;
        display: grid;
        gap: 5px;

        li {
          border-radius: 23px;
          -webkit-border-radius: 23px;
          -moz-border-radius: 23px;
          -ms-border-radius: 23px;
          -o-border-radius: 23px;
          transition: background-color 0.1s;
          -webkit-transition: background-color 0.1s;
          -moz-transition: background-color 0.1s;
          -ms-transition: background-color 0.1s;
          -o-transition: background-color 0.1s;

          &.active {
            background-color: $color-morado-hover;
            background: $color-morado-oscuro;
          }

          &:hover {
            background-color: $color-morado-hover;
            background: $color-morado-oscuro;
          }

          a {
            padding: 10px 20px;
            display: flex;
            gap: 20px;
            color: $color-blanco;
            text-decoration: none;
            transition: width 0.3s ease-in-out;
            -webkit-transition: width 0.3s ease-in-out;
            -moz-transition: width 0.3s ease-in-out;
            -ms-transition: width 0.3s ease-in-out;
            -o-transition: width 0.3s ease-in-out;

            img {
              width: 18px;
            }
          }
        }
      }
    }
    .sidebar-end {
      height: fit-content;

      @include media(mobile) {
        margin-top: 40px;
      }
      .logout-container {
        padding: 10px 20px;
        gap: 20px;

        span {
          &:hover {
            font-family: $montserrat-bold;
          }
        }
      }
      .logout-collapsed {
        display: flex;
        justify-content: center;
        padding: 0;
        transition: width 0.3s ease-in-out;
        -webkit-transition: width 0.3s ease-in-out;
        -moz-transition: width 0.3s ease-in-out;
        -ms-transition: width 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out;
      }
    }
  }
}
.collapsed {
  width: 70px;

  @include media(mobile) {
    box-shadow: none;
  }
  @include media(tablet) {
    box-shadow: none;
  }

  .sidebar-content {
    padding: 0;
    .sidebar-nav {
      padding: 0;
      ul {
        li {
          height: 38px;
          a {
            justify-content: center;
          }
        }
      }
    }
  }
}
