@use "./variables" as *;
@use "./mixins" as *;

.all-users-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @include media(mobile) {
    padding-top: 120px;
    gap: 40px;
  }
  @include media(tablet) {
    padding-top: 120px;
  }
  .search-container {
    flex-direction: column;
    align-items: center;

    @include media(mobile) {
      margin-bottom: 30px;
    }
    .barr {
      width: 80%;
      max-width: 800px;
      justify-content: center;

      @include media(mobile) {
        width: 100%;
        flex-direction: column;
        gap: 15px;
      }

      .block {
        display: flex;
        gap: 10px;

        @include media(mobile) {
          justify-content: center;
        }
      }
      .search-block {
        position: relative;
        display: flex;

        gap: 20px;
        width: fit-content;
        align-items: center;
        height: 100%;
        @include media(mobile) {
          width: 100%;
        }

        .search-user {
          width: 400px;
          height: 40px;

          @include media(mobile) {
            width: 100%;
          }
        }

        .clear-user {
          position: absolute;
          right: 10px;
        }
      }
    }
  }

  .container-total-users {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;

    @include media(mobile) {
      flex-wrap: wrap;
      gap: 30px;
    }

    .block {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .color {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
      }

      .total {
        display: flex;
        gap: 10px;
      }
    }
  }

  .head-dis {
    @include media(mobile) {
      display: none !important;
    }
  }

  .user-container {
    display: flex;
    justify-content: center;

    .block {
      width: 80%;
      max-width: 800px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid $color-bordes;

      @include media(mobile) {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
        padding-bottom: 25px;
        margin: 0;
        border-bottom: none;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -ms-border-radius: 0 0 8px 8px;
        -o-border-radius: 0 0 8px 8px;
      }

      @include media(tablet) {
        width: 95%;
      }

      .color {
        width: 15px;
        height: 15px;
        border: 2px solid $color-blanco;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
      }

      .head {
        width: 150px;

        @include media(mobile) {
          width: 100%;
          padding: 12px;
          display: flex;
          justify-content: flex-start;
          background: $color-morado;
        }
        .name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: $montserrat-bold;
          color: $color-morado;
          width: 150px;
          text-align: left !important;

          @include media(mobile) {
            width: fit-content;
            color: $color-blanco;
          }
        }
      }

      .body {
        width: 60%;
        display: flex;
        justify-content: space-between;

        @include media(desktop) {
          .user {
            width: 80px;
            display: flex;
          }
          .telf {
            width: 100px;
            display: flex;
          }

          .role {
            width: 120px;
            display: flex;
          }
          .sexo {
            width: 90px;
            display: flex;
          }
        }
        @include media(mobile) {
          flex-direction: column;
          width: 100%;
          gap: 20px;
          padding: 20px;
          margin-bottom: 10px;

          .user,
          .telf,
          .role,
          .sexo {
            display: flex;
            width: 100%;
            gap: 30px;
          }
        }
      }
      .label {
        width: 30%;
        text-align: start;
        display: none;

        @include media(mobile) {
          display: block;
        }
      }

      .acciones {
        width: 86px;
        text-align: left;
        display: flex;
        justify-content: center;

        @include media(mobile) {
          width: 100%;
        }
      }
    }
  }

  .mobile {
    .block {
      .color {
        @include media(mobile) {
          width: 100%;
          border-radius: 8px 8px 0 0;
          -webkit-border-radius: 8px 8px 0 0;
          -moz-border-radius: 8px 8px 0 0;
          -ms-border-radius: 8px 8px 0 0;
          -o-border-radius: 8px 8px 0 0;
        }
      }
    }
  }

  .encabezado {
    background: $color-morado;
    .user,
    .telf,
    .role,
    .sexo,
    .name,
    .acciones {
      color: $color-blanco !important;
    }
  }
}

.gestionar-usuarios {
  .gestor-container {
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;

    @include media(mobile) {
      padding-top: 120px;
    }
    @include media(tablet) {
      padding-top: 120px;
    }

    .form-container {
      border: 1px solid gray;
      width: 100%;
      max-width: 600px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;
        padding: 20px;

        h5 {
          margin: 0;
        }

        .svg {
          content: "";
          background-repeat: no-repeat;
          background-image: url("../assets/UserFaceIcon.svg");
          background-size: 46px;
          width: 46px;
          height: 51.33px;
        }
      }
      .body {
        padding: 20px;
        margin-top: 20px;

        .form {
          form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .group {
              display: flex;
              gap: 20px;
              justify-content: center;

              @include media(mobile) {
                flex-direction: column;
              }

              .group-form {
                display: grid;
                gap: 5px;
                flex-grow: 1;
                min-width: 0;

                input {
                  width: 100%;
                }

                select {
                  width: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }

            .group-actions {
              margin-top: 15px;

              @include media(mobile) {
                display: flex;
                flex-direction: row;
              }
            }
          }
        }
      }
    }
  }
}
