/* BREAKPOINTS PARA LAS MEDIA QUERYS */
$breakpoint-fin-mobile: 767px;
$breakpoint-inicio-tablet: 768px;
$breakpoint-fin-tablet: 991px;
$breakpoint-desktop: 992px;
$breakpoint-desktopXL: 1200px;
$breakpoint-desktopXXL: 1400px;

// Colores
$warning-color: #e0b300;
$color-morado: #6B21A8;
$color-succes: #158c27;
$color-verde-v2: #166534;
$color-rojo: #db072e;
$color-rojo-oscuro: #db072e;
$color-rojo-v2: #f94252;
$color-azul: #1f2ded;
$color-azul-v2: #0d6efd;
$color-morado-hover: #42105f;
$color-morado-oscuro: #4d1879;
$color-gris: #4b4b4b;
$color-blanco: #fff;

// opacos
$color-fondo-general: #f6f3f4;
$gris-clarito: #f6f6f9;
$color-rojo-opaco: #ffebeb;
$color-azul-pastel: #f5f4ff;
$color-morado-opaco: #faf2ff;
$color-hover-tables: #faf5ff;
$color-head-tables: #f3e8ff;
$color-tab1: #c4a1ff;
$color-succes-opaco: #e4ffe8;
$color-verde-v2-opaco: #f0fdf4;
$fondo-warning: #fffbeb;
$fondo-danger: #ffede8;

// Bordes
$color-boerde-verde-v2: #bbf7d0;
$color-bordes: #cfcfcf;
$border-warning: #fde68a;
$border-danger: #fd8a8a;
$color-borde-azul-bajo: #c1c5ff;

// Fuentes
$montserrat-bold: "montserrat-bold";
$montserrat-regular: "montserrat-regular";
