.container-general-ventas {
  padding: 20px;
  display: flex;
  gap: 35px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  @include media(mobile) {
    padding-top: 120px;
    gap: 40px;
  }
  @include media(tablet) {
    padding-top: 120px;
  }

  .venta-container {
    width: 100%;
    max-width: 320px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;

    @include media(mobile) {
      max-width: 400px;
    }

    .venta {
      max-width: 900px;
      width: 100%;
      height: 100%;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      word-break: break-word;
      border-radius: 0 0 8px 8px;
      -webkit-border-radius: 0 0 8px 8px;
      -moz-border-radius: 0 0 8px 8px;
      -ms-border-radius: 0 0 8px 8px;
      -o-border-radius: 0 0 8px 8px;

      .card-head {
        background: $color-morado;
        border-radius: 8px 8px 0 0;
        color: $color-blanco;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px 20px;
        justify-content: space-between;
        -webkit-border-radius: 8px 8px 0 0;
        -moz-border-radius: 8px 8px 0 0;
        -ms-border-radius: 8px 8px 0 0;
        -o-border-radius: 8px 8px 0 0;

        .seller-data {
          display: flex;
          gap: 5px;
          flex-direction: column;

          .role-name {
            font-family: $montserrat-bold;
            font-size: 12px;
          }
        }
        .code {
          font-family: $montserrat-bold;
        }
      }

      .card-body {
        padding: 20px;

        .content {
          font-size: 14px;
          display: grid;
          gap: 15px;
          width: 100%;

          .group-item {
            display: flex;
            gap: 15px;
            flex-direction: column;

            .item {
              display: flex;
              gap: 15px;
              align-items: flex-start;

              a {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          .line {
            height: 65px;
            margin: auto 0;
            border-right: 1.5px solid $color-bordes;
          }
        }
        .create-at {
          display: flex;
          justify-content: center;
          margin-top: 10px;
          font-size: 13px;
        }
      }
    }
  }

  .container-content {
    max-width: 1400px;
    width: 100%;

    .content-tab {
      // Estilos correspondientes a la sección general
      .search-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;

        .search-bar {
          width: 100%;
          max-width: 500px;

          .search-block {
            width: 100%;
            display: flex;
            gap: 20px;
            position: relative;
            align-items: center;

            input {
              height: 40px;
            }

            .reset {
              position: absolute;
              right: 0;
              padding: 15px 10px;
            }
          }
        }
      }

      .filter-selector {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        label {
          max-width: 500px;
          width: 100%;
          text-align: left;
        }

        select {
          max-width: 500px;
          width: 100%;
        }

        .content-result {
          width: 100%;
        }
      }
      .sales-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
      }

      // Estilos correspondientes a la sección por vendedor
      .selector-vendedor {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;

        label {
          width: 100%;
          max-width: 500px;
        }

        .select {
          width: 100%;
          max-width: 500px;
        }
      }

      .resultados-filtrados {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .results {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 25px;
          justify-content: center;
        }
      }

      // Estilos correspondientes a la sección mis ventas
      .my-sales-container {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;

        .link-option {
          padding: 18px;
          gap: 25px;
          border: 1.5px solid $color-morado;
          text-decoration: none;
          color: $color-morado;
          align-items: center;
          width: 100%;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
          display: flex;
          max-width: 315px;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;

          &:hover {
            transform: scale(1.03);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.03);
            -ms-transform: scale(1.03);
            -o-transform: scale(1.03);
          }

          @include media(mobile) {
            max-width: 350px;
          }

          .icon {
            width: 66px;
            height: 66px;
          }
          .info {
            display: grid;
            gap: 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
  // Estilos correspondientes a la sección de ventas anteriores

  .block-history {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-width: 1450px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.3);
    border: 1px solid $color-gris;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    @include media(mobile) {
      max-width: 450px;
      margin-bottom: 40px;
    }
    @include media(desktop) {
      height: 515px;
    }
    @include media(desktopXXL) {
      height: 750px;
    }

    .title-history {
      text-align: center;
      margin-bottom: 0;
      padding: 20px;
      font-size: 20px;
      font-family: $montserrat-bold;
      border-bottom: 1px solid $color-gris;
      position: relative;

      @include media(mobile) {
        padding-top: 60px;
      }

      .volver {
        cursor: pointer;
        font-size: 16px;
        display: flex;
        position: absolute;
        top: 50%;
        align-items: center;
        color: $color-gris;
        text-decoration: none;
        left: 20px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);

        @include media(mobile) {
          top: 0;
          margin-top: 20px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
        }

        &::before {
          content: "";
          display: flex;
          background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 21L7.5 12L16.5 3" stroke="%234B4B4B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          width: 15px;
          height: 15px;
          margin-right: 7px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }
    .contens {
      display: flex;
      height: 100%;
      overflow: hidden;

      @include media(tablet) {
        flex-direction: column;
      }
      @include media(mobile) {
        flex-direction: column;
      }
      .rango-fecha {
        text-align: center;
        font-size: 14px;
        color: $color-azul;
        font-family: $montserrat-bold;

        @include media(mobile) {
          padding: 40px 20px;
          margin-bottom: 0;
          border-bottom: 1px solid $color-gris;
        }
      }
      .head-dinamic {
        font-family: $montserrat-bold;
        border-bottom: 1px solid $color-gris;
        margin-bottom: 25px;

        p {
          width: 210px;
          @include media(tablet) {
            width: 450px;
          }
        }

        @include media(mobile) {
          width: 100%;
        }
        .dinero {
          color: $color-succes;
        }
      }

      .date-picker-form {
        width: 100%;
        padding: 25px;
        display: grid;
        border-right: 1px solid $color-gris;
        height: 100%;
        width: fit-content;
        place-items: center;
        align-items: start;

        @include media(tablet) {
          border-bottom: 1px solid $color-gris;
          border-right: none;
          width: 100%;
        }
        @include media(mobile) {
          border-bottom: 1px solid $color-gris;
          border-right: none;
          padding: 45px 20px;
          width: 100%;
        }

        form {
          width: 100%;
          max-width: 1600px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .body {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;
            justify-content: center;
            align-items: flex-start;

            @include media(tablet) {
              flex-direction: row;
              gap: 30px;
              max-width: 400px;
            }

            .form-group {
              display: flex;
              flex-direction: column;
              gap: 5px;
              min-width: 210px;
              width: 100%;

              input {
                min-width: 210px;
                width: 100%;
              }

              .error-message {
                text-align: start;
                font-size: 13px;
                font-family: $montserrat-regular;
              }
            }
          }
        }
      }
      .content-render {
        padding: 20px;
        width: 100%;
        height: 100%;

        @include media(mobile) {
          padding: 0px;
        }

        .contenido-inicial {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          width: 100%;

          .img-aviso-mobile {
            display: none;
          }

          .img-aviso {
            width: 620px;

            @include media(desktopXXL) {
              width: 900px;
            }
          }

          @include media(mobile) {
            .img-aviso {
              display: none;
            }
            .img-aviso-mobile {
              display: block;
              width: 100%;
              padding: 30px;
            }
          }
        }

        .cargando {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          width: 100%;
        }

        .tabla-de-resultados {
          overflow-y: auto;
          padding-bottom: 10px;

          @include media(mobile) {
            padding: 0;
          }
          @include media(tablet) {
            max-height: 450px;
          }

          @include media(desktop) {
            max-height: 325px;
          }
          @include media(desktopXXL) {
            max-height: 550px;
          }
          .table {
            height: 100%;
            max-height: 500px;

            thead {
              position: sticky;
              top: 0;
              tr {
                background: $color-head-tables;
                th,
                td {
                  background-color: transparent;
                  font-size: 14px;
                }
                &:hover {
                  background-color: $color-hover-tables;
                }
              }
            }
            tbody {
              tr {
                td,
                th {
                  background-color: transparent;
                  font-size: 14px;
                }
                &:hover {
                  background-color: $color-hover-tables;
                }
              }
            }

            @include media(mobile) {
              tr {
                width: 100%;
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid $color-gris;
                padding: 0 10px;

                .thead {
                  width: fit-content;
                  border-right: 1px solid $color-gris;
                }

                .body {
                  width: 100%;
                }
                .thead,
                .body {
                  display: flex;
                  flex-direction: column;
                  th,
                  td {
                    height: 60px;
                    border: none;
                    background: transparent;
                  }
                }

                .body {
                  th,
                  td {
                    padding-left: 20px;
                  }
                }
              }
            }

            @include media(desktopXXL) {
              thead {
                tr {
                  th,
                  td {
                    font-size: 16px;
                  }
                }
              }
              tbody {
                tr {
                  td,
                  th {
                    font-size: 16px;
                  }
                }
              }
            }

            .tr-odd {
              background: $color-head-tables;
            }
          }
        }

        .total-ventas-abajo {
          font-size: 14px;
          font-family: $montserrat-bold;
          padding-top: 8px;
          margin-top: 15px;
          text-align: center;
          border-top: 1px solid $color-gris;

          @include media(mobile) {
            border: none;
            margin: 0;
            padding: 20px;
            padding-top: 0;
          }
        }
      }
    }
  }
}
